flow.json
[{"id":"f6591c54.0d0a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"73abc15c.d1538","type":"subflow","name":"User active","info":"Check if the user is active (first output) or suspended (second output).\n\nGo to [Users](/mc/mc/users) control panel to suspend an user. ","category":"","in":[{"x":200,"y":120,"wires":[{"id":"e30a55fd.32fb48"}]}],"out":[{"x":800,"y":80,"wires":[{"id":"a00ffec3.cc909","port":0}]},{"x":800,"y":160,"wires":[{"id":"a00ffec3.cc909","port":1}]}],"env":[],"color":"#ff6633","outputLabels":["User active","User suspended"],"icon":"font-awesome/fa-user-times"},{"id":"2f7d5f61.40404","type":"subflow","name":"Is Open?","info":"","category":"","in":[{"x":180,"y":200,"wires":[{"id":"9cf9411e.d7153"}]}],"out":[{"x":1160,"y":80,"wires":[{"id":"35e4e154.b95bee","port":0},{"id":"e927cd.cb32f83","port":0}]},{"x":1060,"y":320,"wires":[{"id":"9cf9411e.d7153","port":1},{"id":"c826b6de.3400b8","port":2}]}],"env":[],"color":"#ff6633","icon":"font-awesome/fa-clock-o"},{"id":"e0319c8a.07f16","type":"chatbot-telegram-node","z":"","botname":"Guidone TEST","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"211a1d3f.c178e2","type":"chatbot-telegram-node","z":"","botname":"@MyBotProd","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"4211be90.125b9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"356036c6.9035aa","type":"chatbot-facebook-node","z":"","botname":"Guidone DEV","usernames":"","store":"","log":"","debug":false,"multiWebHook":false,"profileFields":"first_name,last_name"},{"id":"1dc071.42e6bf9","type":"chatbot-telegram-send","z":"f6591c54.0d0a4","bot":"e0319c8a.07f16","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":1550,"y":740,"wires":[]},{"id":"e0289538.2f1698","type":"chatbot-telegram-receive","z":"f6591c54.0d0a4","bot":"e0319c8a.07f16","botProduction":"","x":130,"y":260,"wires":[["a5b05371.75329"]]},{"id":"86c92647.a74e28","type":"chatbot-message","z":"f6591c54.0d0a4","name":"","message":[{"message":"test 1"},{"message":"test 2"},{"message":"test 3 {{chatId}}"}],"answer":false,"silent":false,"x":1410,"y":560,"wires":[["5e6292f8.a1f49c"]]},{"id":"3c4d4b36.e7ca44","type":"chatbot-rules","z":"f6591c54.0d0a4","name":"","rules":[{"type":"command","command":"/info"},{"type":"command","command":"/config"},{"type":"command","command":"/home"},{"type":"command","command":"/who"},{"type":"catchAll"}],"outputs":5,"x":1270,"y":360,"wires":[["f3b64d24.ed697"],["7d4b4563.f67dec"],["3bd336e.08f23ca"],["1c4288b2.fb7587","402abcda.6cade4"],["e02f7f42.bfd16"]]},{"id":"acd6e23b.b315f","type":"chatbot-extend","z":"f6591c54.0d0a4","codeJs":"node.chat.registerParam('barabba2', 'boolean', {\n  label: 'Barabbone2',\n  description: 'Usa questo barabbone!!!!'\n})","platform":"telegram","noerr":0,"x":130,"y":380,"wires":[]},{"id":"45ee73ee.08e54c","type":"mc-input","z":"f6591c54.0d0a4","name":"","topic":"message.send","x":210,"y":600,"wires":[["d0860d4.ab62df"]]},{"id":"d0860d4.ab62df","type":"chatbot-conversation","z":"f6591c54.0d0a4","name":"","botDevelopment":"e0319c8a.07f16","botProduction":"","chatId":"196520947","userId":"","transport":"telegram","store":"","x":430,"y":600,"wires":[["a304c56b.dee2d8"]]},{"id":"a304c56b.dee2d8","type":"chatbot-message","z":"f6591c54.0d0a4","name":"From payload","message":[],"answer":false,"silent":false,"x":660,"y":600,"wires":[["6b05c9ff.6fb498"]]},{"id":"493a538f.f8e04c","type":"mc-output","z":"f6591c54.0d0a4","name":"","topic":"ping","payload":"{\"what\":42}","x":450,"y":700,"wires":[[]]},{"id":"feaa2614.1de278","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":700,"wires":[["493a538f.f8e04c"]]},{"id":"55ba5ac4.0b7ed4","type":"mc-configuration","z":"f6591c54.0d0a4","namespace":"postcardbot","topic":"","payload":"","x":270,"y":960,"wires":[["d57ce9d0.64e118"]]},{"id":"d57ce9d0.64e118","type":"function","z":"f6591c54.0d0a4","name":"","func":"console.log('Configuration', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":960,"wires":[[]]},{"id":"d59c9c1.0d6e76","type":"mc-output","z":"f6591c54.0d0a4","name":"","topic":"message.out","payload":"","x":1570,"y":700,"wires":[[]]},{"id":"f057e6b2.af05b8","type":"mc-output","z":"f6591c54.0d0a4","name":"","topic":"message.in","payload":"","x":570,"y":260,"wires":[["50bdedf.d939114","2b3576f9.9e0fda"]]},{"id":"a5b05371.75329","type":"mc-store","z":"f6591c54.0d0a4","x":360,"y":260,"wires":[["f057e6b2.af05b8"]]},{"id":"27fb7744.02eae8","type":"chatbot-inline-buttons","z":"f6591c54.0d0a4","name":"","buttons":[{"type":"postback","label":"Label 1","value":"value1","answer":"","alert":false,"style":""},{"type":"url","label":"Open site","url":"http://www.repubblica.it","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false},{"type":"postback","label":"Button 2","value":"value2","answer":"","alert":false,"style":""}],"message":"I am a button with buttons","x":1120,"y":140,"wires":[[]]},{"id":"b852799a.4692f8","type":"chatbot-image","z":"f6591c54.0d0a4","name":"","filename":"","image":"/Users/guibel/web/test2.jpg","caption":"","x":560,"y":200,"wires":[[]]},{"id":"d4439a4.79e5068","type":"mc-store","z":"f6591c54.0d0a4","x":1340,"y":700,"wires":[["684feb00.cf4f34","d59c9c1.0d6e76","1dc071.42e6bf9"]]},{"id":"da4eca0.f321c38","type":"mc-event","z":"f6591c54.0d0a4","flow":"MyFlow1","name":"landing","x":210,"y":1120,"wires":[[]]},{"id":"3cd69301.e2415c","type":"mc-event","z":"f6591c54.0d0a4","flow":"MyFlow1","name":"info","x":390,"y":1120,"wires":[[]]},{"id":"bc924054.193ef","type":"mc-event","z":"f6591c54.0d0a4","flow":"MyFlow1","name":"cart","x":570,"y":1120,"wires":[[]]},{"id":"1900870a.30f299","type":"mc-event","z":"f6591c54.0d0a4","flow":"MyFlow1","name":"payment","x":750,"y":1120,"wires":[[]]},{"id":"c227271f.50b3f8","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1060,"wires":[["da4eca0.f321c38"]]},{"id":"ab108b02.a393a8","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1060,"wires":[["3cd69301.e2415c","da4eca0.f321c38"]]},{"id":"c3e25d55.e7a99","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":1060,"wires":[["bc924054.193ef","3cd69301.e2415c","da4eca0.f321c38"]]},{"id":"8d11b9cc.39a5e8","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":1060,"wires":[["1900870a.30f299","bc924054.193ef","3cd69301.e2415c","da4eca0.f321c38"]]},{"id":"ead8048c.2d23e8","type":"mc-query","z":"f6591c54.0d0a4","name":"Get user","query":"query {\n  users {\n    username,\n    first_name,\n    last_name,\n    chatIds {\n      transport,\n      chatId\n    }\n  }\n}","noerr":0,"x":400,"y":780,"wires":[["dbc40d06.8356b"]]},{"id":"b233a8b6.2807a8","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":780,"wires":[["ead8048c.2d23e8"]]},{"id":"dbc40d06.8356b","type":"function","z":"f6591c54.0d0a4","name":"","func":"console.log('query---', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":780,"wires":[[]]},{"id":"1038c766.d978a9","type":"comment","z":"f6591c54.0d0a4","name":"Get all users","info":"","x":210,"y":740,"wires":[]},{"id":"8a9a76f2.ce8a78","type":"mc-query","z":"f6591c54.0d0a4","name":"Get user","query":"query($userId: String!) {\n  users(userId: $userId) {\n    userId,\n    username,\n    first_name,\n    last_name,\n    chatIds {\n      transport,\n      chatId\n    }\n  }\n}","noerr":0,"x":560,"y":860,"wires":[["4ee0db5d.9a9b64"]]},{"id":"3a0a2a25.61b5b6","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":860,"wires":[["c3ddc4b8.3d2508"]]},{"id":"4ee0db5d.9a9b64","type":"function","z":"f6591c54.0d0a4","name":"","func":"console.log('query on user', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":860,"wires":[[]]},{"id":"c3ddc4b8.3d2508","type":"function","z":"f6591c54.0d0a4","name":"","func":"msg.variables = {\n  userId: 'guidone72'\n};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":860,"wires":[["8a9a76f2.ce8a78"]]},{"id":"abd225bb.057798","type":"comment","z":"f6591c54.0d0a4","name":"Get single user","info":"","x":220,"y":820,"wires":[]},{"id":"10c4e382.27e22c","type":"comment","z":"f6591c54.0d0a4","name":"Simulate funnel","info":"","x":220,"y":1020,"wires":[]},{"id":"d7d4ff3a.b99ba","type":"comment","z":"f6591c54.0d0a4","name":"On change configuration","info":"","x":250,"y":920,"wires":[]},{"id":"a9599f30.1be2c","type":"comment","z":"f6591c54.0d0a4","name":"Test chat simulator","info":"","x":170,"y":140,"wires":[]},{"id":"4c1a4770.2ef448","type":"chatbot-message","z":"f6591c54.0d0a4","name":"","message":[{"message":"it works"},{"message":"another version of the message"},{"message":"some vars {{chatId}}"}],"answer":false,"silent":false,"x":350,"y":200,"wires":[["50bdedf.d939114"]]},{"id":"50bdedf.d939114","type":"chatbot-debug","z":"f6591c54.0d0a4","x":580,"y":140,"wires":[]},{"id":"3b48fff7.956e1","type":"mc-simulator-receiver","z":"f6591c54.0d0a4","x":150,"y":200,"wires":[["a5b05371.75329"]]},{"id":"684feb00.cf4f34","type":"mc-simulator-sender","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","x":1540,"y":660,"wires":[[]]},{"id":"232ea2f.e99625e","type":"link out","z":"f6591c54.0d0a4","name":"","links":["1ef15ab6.819235"],"x":895,"y":240,"wires":[]},{"id":"1ef15ab6.819235","type":"link in","z":"f6591c54.0d0a4","name":"","links":["232ea2f.e99625e"],"x":1175,"y":360,"wires":[["3c4d4b36.e7ca44"]]},{"id":"cc430fa1.351fa","type":"link in","z":"f6591c54.0d0a4","name":"","links":["8b8d72b2.f3102","6b05c9ff.6fb498","29032f06.caa3a","81c13bfd.9a6138","56d814e.9acb4ec","eaeafb09.d18908","e86b3f47.2a473","d82188a3.bfe7f8"],"x":1215,"y":700,"wires":[["d4439a4.79e5068"]]},{"id":"8b8d72b2.f3102","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":1815,"y":560,"wires":[]},{"id":"8f5e9c89.faebe","type":"chatbot-facebook-receive","z":"f6591c54.0d0a4","bot":"356036c6.9035aa","botProduction":"","x":130,"y":320,"wires":[["a5b05371.75329"]]},{"id":"6b05c9ff.6fb498","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":795,"y":600,"wires":[]},{"id":"f3b64d24.ed697","type":"mc-query","z":"f6591c54.0d0a4","name":"Get user info","query":"query {\n  chatIds(chatId: \"196520947\") {\n    transport,\n    user {\n      userId,\n      username,\n      first_name,\n      last_name,\n      payload,\n      chatIds {\n        chatId,\n        transport\n      }\n    }\n  }\n}","noerr":0,"x":1460,"y":100,"wires":[["ace2e12a.2343e"]]},{"id":"3805e8a0.f76a18","type":"chatbot-message","z":"f6591c54.0d0a4","name":"User info","message":[],"answer":false,"silent":false,"x":1850,"y":100,"wires":[["aa9b455.f6dd1b8"]]},{"id":"29032f06.caa3a","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":2215,"y":100,"wires":[]},{"id":"ace2e12a.2343e","type":"template","z":"f6591c54.0d0a4","name":"User info","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Current user:\n{{#payload.chatIds}}\nTransport: {{transport}}\nUsername: {{user.username}} (userId: {{userId}})\nFirst name: {{user.first_name}}\nLirst name: {{user.last_name}}\nAvailable platforms:\n{{#user.chatIds}}\n- {{transport}} (chatId: {{chatId}})\n{{/user.chatIds}}\n{{/payload.chatIds}}","output":"str","x":1690,"y":100,"wires":[["3805e8a0.f76a18"]]},{"id":"7d4b4563.f67dec","type":"chatbot-message","z":"f6591c54.0d0a4","name":"Configuration","message":[{"message":"Params are: \n- param_1: {{postcardbot_param_1}}"}],"answer":false,"silent":false,"x":1520,"y":160,"wires":[["bbcf4d37.2f55e"]]},{"id":"81c13bfd.9a6138","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":1965,"y":160,"wires":[]},{"id":"5e719cb8.b52344","type":"comment","z":"f6591c54.0d0a4","name":"Trigger the start of conversation from control panel","info":"","x":290,"y":560,"wires":[]},{"id":"aa9b455.f6dd1b8","type":"mc-event","z":"f6591c54.0d0a4","flow":"test","name":"info","x":2080,"y":100,"wires":[["29032f06.caa3a"]]},{"id":"bbcf4d37.2f55e","type":"mc-event","z":"f6591c54.0d0a4","flow":"test","name":"configuration","x":1780,"y":160,"wires":[["81c13bfd.9a6138"]]},{"id":"5e6292f8.a1f49c","type":"mc-event","z":"f6591c54.0d0a4","flow":"test","name":"hello","x":1600,"y":560,"wires":[["8b8d72b2.f3102"]]},{"id":"3bd336e.08f23ca","type":"mc-query","z":"f6591c54.0d0a4","name":"","query":"query {\n  content(slug: \"home\") {\n    body,\n    title,\n    id\n  }\n}","noerr":0,"x":1410,"y":220,"wires":[["82a3710f.2c756","a543eda7.dde79"]]},{"id":"82a3710f.2c756","type":"debug","z":"f6591c54.0d0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":280,"wires":[]},{"id":"a543eda7.dde79","type":"template","z":"f6591c54.0d0a4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"- {{payload.content.title}}\n{{payload.content.body}}","output":"str","x":1570,"y":220,"wires":[["2d84f2c6.22f73e"]]},{"id":"2d84f2c6.22f73e","type":"chatbot-message","z":"f6591c54.0d0a4","name":"Home","message":[],"answer":false,"silent":false,"x":1720,"y":220,"wires":[["56d814e.9acb4ec"]]},{"id":"56d814e.9acb4ec","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":1845,"y":220,"wires":[]},{"id":"16322d77.bb8243","type":"mc-configuration","z":"73abc15c.d1538","namespace":"user_suspended","topic":"","payload":"","x":320,"y":280,"wires":[[]]},{"id":"e30a55fd.32fb48","type":"mc-query","z":"73abc15c.d1538","name":"Get User","query":"query {\n  user(userId: \"{{userId}}\") {\n    first_name,\n    last_name,\n    username,\n    payload\n  }\n}","preserve":true,"noerr":0,"x":370,"y":120,"wires":[["a00ffec3.cc909"]]},{"id":"a00ffec3.cc909","type":"function","z":"73abc15c.d1538","name":"Check if suspended","func":"const user = msg.user;\n\nif (user != null && user.payload != null && user.payload.suspended) {\n  return [null, msg];    \n} else {\n  return [msg, null];    \n}\n","outputs":2,"noerr":0,"x":600,"y":120,"wires":[[],[]]},{"id":"2b3576f9.9e0fda","type":"subflow:73abc15c.d1538","z":"f6591c54.0d0a4","name":"","env":[],"x":730,"y":360,"wires":[["232ea2f.e99625e"],["5864d97a.ffb598"]]},{"id":"5864d97a.ffb598","type":"chatbot-message","z":"f6591c54.0d0a4","name":"User suspended","message":[{"message":"This user is suspended!"}],"answer":false,"silent":false,"x":940,"y":440,"wires":[["eaeafb09.d18908"]]},{"id":"eaeafb09.d18908","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":1055,"y":440,"wires":[]},{"id":"5331472f.f689e8","type":"inject","z":"2f7d5f61.40404","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":380,"wires":[["c5e1b268.be6a9"]]},{"id":"cdb3b0f0.b93df","type":"mc-configuration","z":"2f7d5f61.40404","namespace":"openings","topic":"","payload":"","x":180,"y":580,"wires":[["48bf31e3.1da7e"]]},{"id":"48bf31e3.1da7e","type":"function","z":"2f7d5f61.40404","name":"","func":"console.log('Configuration for openings', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[[]]},{"id":"2240cf4f.75d8c","type":"comment","z":"2f7d5f61.40404","name":"On change configuration","info":"","x":170,"y":540,"wires":[]},{"id":"e02f7f42.bfd16","type":"subflow:2f7d5f61.40404","z":"f6591c54.0d0a4","name":"","env":[],"x":1460,"y":400,"wires":[["e86b3f47.2a473"],["86c92647.a74e28"]]},{"id":"c5e1b268.be6a9","type":"chatbot-nlpjs-intent","z":"2f7d5f61.40404","intent":"shop.is.open","language":"en","utterances":["is the shop open?","are you open?","is it open?","can i come now?","is the shop open now?","are you open now?"],"outputs":1,"x":420,"y":380,"wires":[["8106c8d8.c93808"]]},{"id":"f190c50a.85f8c8","type":"chatbot-nlpjs-train","z":"2f7d5f61.40404","name":"","debug":false,"x":720,"y":380,"wires":[["65bf078e.7ae608"]]},{"id":"ed059b83.0003b8","type":"chatbot-nlpjs","z":"2f7d5f61.40404","name":"","x":530,"y":120,"wires":[["c826b6de.3400b8","38a3082c.c11038"]]},{"id":"c826b6de.3400b8","type":"chatbot-rules","z":"2f7d5f61.40404","name":"","rules":[{"type":"isIntentName","intent":"shop.is.open"},{"type":"isIntentName","intent":"shop.openings"},{"type":"catchAll"}],"outputs":3,"x":730,"y":120,"wires":[["35e4e154.b95bee"],["a3ffb0ec.b0d48"],[]]},{"id":"35e4e154.b95bee","type":"function","z":"2f7d5f61.40404","name":"","func":"console.log('OK, intent is open');\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":40,"wires":[[]]},{"id":"65bf078e.7ae608","type":"function","z":"2f7d5f61.40404","name":"","func":"console.log('Training is.open complete');","outputs":0,"noerr":0,"x":930,"y":380,"wires":[]},{"id":"9cf9411e.d7153","type":"chatbot-rules","z":"2f7d5f61.40404","name":"","rules":[{"type":"messageType","messageType":"message"},{"type":"catchAll"}],"outputs":2,"x":290,"y":200,"wires":[["ed059b83.0003b8"],[]]},{"id":"ceef6d54.7fc35","type":"comment","z":"2f7d5f61.40404","name":"Do nothing pass thru","info":"","x":1140,"y":280,"wires":[]},{"id":"8106c8d8.c93808","type":"chatbot-nlpjs-intent","z":"2f7d5f61.40404","intent":"shop.openings","language":"en","utterances":["what are your opening ours?","when are you open?","when the shop is open?","what are your openings?","can you tell me when is open?","when i can come to the shop?"],"outputs":1,"x":420,"y":440,"wires":[["f190c50a.85f8c8"]]},{"id":"a3ffb0ec.b0d48","type":"function","z":"2f7d5f61.40404","name":"","func":"const chat = msg.chat();\n\nconst json = global.get('openings_openings');\nconst label = global.get('openings_labelOpenings');\nconst language = chat.get('language');\n\nconst formatRange = range => {\n  switch(range) {\n    case 'mo': return 'Monday';\n    case 'tu': return 'Tuesday';\n    case 'we': return 'Wednesday';\n    case 'th': return 'Thursday';\n    case 'fr': return 'Friday';\n    case 'sa': return 'Saturday';\n    case 'su': return 'Sunday';\n    case 'mo-fr': return 'Monday - Friday';\n    case 'mo-sa': return 'Monday - Saturday';\n    case 'mo-su': return 'Monday - Sunday';\n    case 'sa-su': return 'Saturday - Sunday';\n  }    \n}\nconst formatDigits = digits => digits < 10 ? `0${digits}` : digits;\nconst formatHour = d => `${formatDigits(d.getHours())}:${formatDigits(d.getMinutes())}`;\n\n\nconst today = new Date();\n\nconst message = json.map(item => {\n  const start = new Date(item.start);\n  const end = new Date(item.end);    \n  return `${formatRange(item.range)} ${formatHour(start)} - ${formatHour(end)}`;\n});\n\nmsg.payload = [label[language || 'en'], '', ...message].join('\\n');\n\n\nconsole.log('opopop', json)\nconsole.log('---', message);\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":120,"wires":[["e927cd.cb32f83"]]},{"id":"e927cd.cb32f83","type":"chatbot-message","z":"2f7d5f61.40404","name":"","message":[],"answer":false,"silent":false,"x":1040,"y":180,"wires":[[]]},{"id":"e86b3f47.2a473","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":1795,"y":400,"wires":[]},{"id":"38a3082c.c11038","type":"chatbot-debug","z":"2f7d5f61.40404","x":700,"y":200,"wires":[]},{"id":"1c4288b2.fb7587","type":"chatbot-message","z":"f6591c54.0d0a4","name":"Who am I?","message":[{"message":"Who am i?\n{{username}} ({{firstName}} {{lastName}}) \nLang: {{language}}\n"}],"answer":false,"silent":false,"x":1590,"y":360,"wires":[["d82188a3.bfe7f8"]]},{"id":"d82188a3.bfe7f8","type":"link out","z":"f6591c54.0d0a4","name":"","links":["cc430fa1.351fa"],"x":1795,"y":340,"wires":[]},{"id":"402abcda.6cade4","type":"chatbot-debug","z":"f6591c54.0d0a4","x":1480,"y":320,"wires":[]}]