flow.json
[{"id":"f6591c54.0d0a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0319c8a.07f16","type":"chatbot-telegram-node","z":"","botname":"Guidone TEST","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"211a1d3f.c178e2","type":"chatbot-telegram-node","z":"","botname":"@MyBotProd","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"d1237020.3ffea","type":"function","z":"f6591c54.0d0a4","name":"prep msg","func":"msg.payload = { \n type: 'message',\n chatId: 12345678,\n transport: 'telegram',\n content: 'this is a message'\n}\nreturn msg;\n","outputs":2,"noerr":0,"x":420,"y":240,"wires":[["e91f2e32.6356d","96b564.d47edaa"],[]]},{"id":"e91f2e32.6356d","type":"chatbot-conversation","z":"f6591c54.0d0a4","name":"","chatId":"12345678","transport":"telegram","store":"","x":530,"y":440,"wires":[["1dc071.42e6bf9"]]},{"id":"1dc071.42e6bf9","type":"chatbot-telegram-send","z":"f6591c54.0d0a4","bot":"e0319c8a.07f16","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":830,"y":320,"wires":[]},{"id":"460aeb5e.cad844","type":"inject","z":"f6591c54.0d0a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["d1237020.3ffea"]]},{"id":"96b564.d47edaa","type":"debug","z":"f6591c54.0d0a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":190,"y":440,"wires":[]},{"id":"f80d7b76.72ef08","type":"chatbot-params","z":"f6591c54.0d0a4","name":"","params":[{"platform":"telegram","name":"replyToMessage","value":true},{"platform":"telegram","name":"modifyMessageId","value":""},{"platform":"telegram","name":"silent","value":false}],"outputs":1,"x":580,"y":200,"wires":[["1dc071.42e6bf9"]]},{"id":"e0289538.2f1698","type":"chatbot-telegram-receive","z":"f6591c54.0d0a4","bot":"e0319c8a.07f16","botProduction":"","x":200,"y":60,"wires":[["86c92647.a74e28"]]},{"id":"86c92647.a74e28","type":"chatbot-message","z":"f6591c54.0d0a4","name":"","message":[{"message":"test"}],"answer":false,"silent":false,"x":440,"y":120,"wires":[["f80d7b76.72ef08"]]}]